{% extends 'layout.html.twig' %}
{% block contents %}

    {{ dump(borrowedCopiesOfBook) }}
    <div class="container">
        <div class="row">
            <div class=" col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Titre du livre</h3>

                    </div>

                    <div class="panel-body">
                        {{ lookedUpBook.titre }}
                    </div>
                </div>
            </div>
            <div class=" col-md-4">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Auteur</h3>
                    </div>
                    <div class="panel-body">
                        {{ lookedUpBook.auteur }}

                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-5">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Synosis</h3>
                    </div>
                    <div class="panel-body">
                        {{ lookedUpBook.synopsis }}

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="{{ app.request.basepath }}/uploads/{{ lookedUpBook.image }}.jpg"/>
            </div>
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Exemplaires disponibles
                            {% if copiesOfBook is empty %}
                                (0)
                            {% else %}
                                (
                                {{ copiesOfBook|length - borrowedCopiesOfBook|length}}
                                )
                            {% endif %}
                        </h3>
                    </div>
                    <div class="panel-body">


                        {#TODO Refaire la liste des ID#}
                        {% if copiesOfBook is empty %}
                            Il n'y a malheuresement pas d'exemplaires de disponibles :'(
                            <br>
                            Allez donc regardez les anges !
                        {% endif %}
                        {% for copy in copiesOfBook %}

                            <li
                                    {% if copy.id in borrowedCopiesOfBook %}
                                        class="borrowed"
                                    {% endif %}
                            >{{ copy.id }}

                                {% if app.session.get('admin') == true %}

                                    <a type="button" class="btn btn-default"
                                       href="{{ path('borrow',{'bookId': copy.book_id  ,'copyId':copy.id } ) }}">
                                        Emprunter
                                    </a>


                                {% endif %}

                            </li>
                        {% endfor %}

                    </div>
                </div>
            </div>

        </div>

    </div>


{% endblock %}
